@import url('[https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap](https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap)');

body { 
    font-family: 'Inter', sans-serif; 
}

html { 
    scroll-behavior: smooth; 
}

/* Cualquier otro estilo personalizado que no sea de Tailwind */